body {
    margin: 1;
    font-family: Arial, sans-serif;
    background-image: url('https://wallpapers.com/images/hd/light-blue-aesthetic-laptop-16yyna24oxpemg25.jpg');
    background-size: cover;
}
img{
    width: 100%;
    height: auto;
}
header {
    background-color: #333;
    color: white;
    padding: 1rem;
    text-align: center;
}

nav {
    background-color: #444;
    color: white;
    padding: 1rem;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 1rem;
}

main {
    padding: 2rem;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
    position: fixed;
    width: 100%;
    bottom: 0;
}

form {
    margin-bottom: 1rem;
    max-width: 300px;
    margin: 0 auto;
    padding: 1rem;
    background-color: rgba(46, 70, 46, 0);
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(57, 111, 62, 0.22);
    backdrop-filter: blur(7.2px);
    -webkit-backdrop-filter: blur(7.2px);
    border: 1px solid rgba(8, 88, 33, 0.3);
    box-sizing:border-box;
}

form label {
    display: block;
    margin-bottom: 1rem;
    text-align: center;
}

form input {
    padding: 0.5rem;
    width: calc(100% - 1rem);
    display: block;
    margin: auto;
    margin-bottom: 2rem;
    box-sizing: border-box;
}

form button {
    padding: 0.5rem 1rem;
    background-color: #d2ebdd;
    color: white;
    border: none;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    background-color: rgba(46, 70, 46, 0);
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(57, 111, 62, 0.22);
    backdrop-filter: blur(7.2px);
    -webkit-backdrop-filter: blur(7.2px);
    border: 1px solid rgba(8, 88, 33, 0.3);
}